[*]
aws_region = "us-east-1"
project_name = "cleanmybelly"
!terraform_state_bucket = ""

[bootstrap | github/oidc]
project_version = "v1"

[github/oidc | github/secrets-workflow]
terraform_state_bucket_name = ""

[github/oidc | github/repository | github/secrets-workflow]
github_org_or_username = ""

[github/repository | github/secrets-workflow]
github_token = ""

[github/repository]
github_repo_name = "cleanmybelly"
github_repo_visibility = ""
